body{
    height: 100%;
    background-color: rgb(103, 198, 214);
}
.form{
    color: black;
    background-color: rgb(231, 231, 231);
    width: 28%;
    margin: auto;
    height: auto;
    border: 4px solid black;
    padding: 20px;
    border-radius: 10px;

}
.formulario{
    background-color: black;
    color: red;
    width: auto;
    height: 35px;
    padding: auto;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    border-radius: 1px;
   
}
.control {
   
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    width: 99%;
   }

.control1 {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    width: 48%;
    
}
p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(8, 8, 8);
    text-align: justify;
}
   
.texto{
    color: red;
    font-family: fantasy;
    font-size: 25px;
    text-align: center;
}
.boton {
    margin: auto;
    width: 48%;
    height: 30px 0;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    font-size: 17px;
    text-align: center;
   }
